/* Center the Log In card */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  /* Style the Log In card */
  .card {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  }
  
  .inner-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
  }
  
  .card-front {
    background-color: #fff;
    z-index: 1;
    padding: 40px;
    border-radius: 200px;
    position: relative;
    margin-top: 90px;
    margin-left: 50px;
  }
  
  .card-back {
    background-color: #7f8fa6;
    z-index: 0;
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
  }
  
  h2 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .input-box {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    outline: none;
  }
  
  .submit-btn {
    background-color: #4caf50;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .submit-btn:hover {
    background-color: #3e8e41;
  }
  
  span {
    font-size: 16px;
    margin-left: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }